@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto:wght@700;900&display=swap');


body {
    background-color: #141414;
    color: #fff;
}

h1 {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

.serie-title {
    /* text-align: center; */
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.class-collectioUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.serie-li {
    
    border: solid 1px;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    width: 300px;
    padding: 20px;
    margin: 10px;
    overflow: auto;

}

.serie-upVotes-btn,
.serie-downVotes-btn {
    border: solid 1px white;
    max-width: max-content;

    background-color: #141414;
    font-size: 20px;
    margin: 7px;
    border-radius: 20px;

}