@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto:wght@700;900&display=swap');

body {
    margin: 20px;
    background-color: #070707;
    color: #fff;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.loading-icon{
    width: 200px;
    /* display: none; */
}

.collection-name-class{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color: red;
    width: 100vw;
    /* font-size: 100px; */
    text-align: center;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Bebas Neue',sans-serif; */

}

.div-order-btn {
    display: flex;
    width: 100vw;
    flex-direction:row;
    justify-content:center;
}

.btn-orderTitle,
.btn-orderTitle,
.btn-orderBest,
.btn-byUpVote,
.btn-byDownVote {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    border-radius: 7px;
    width: 75px;
    height: 75px;
    background-color: #070707;
    color: #fff;
    /* border-color: #fff; */

    margin: 20px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;

}


.class-collectioUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    columns: 1;
    margin: 20px;

}

.serie-li {

    /* border: solid 1px; */
    background-color: #141414;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-content: center;
    text-align: center;
    align-self: center;


    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 40px;

}

.serie-img {
    border-radius: 3px;
    max-height: 300px;
    overflow: hidden;
    /* object-fit: contain; */
}

.serie-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.serie-upVotes-btn,
.serie-downVotes-btn {
    width: 50px;
    height: 50px;
    /* border: solid 1px white;  */
    background-color: #141414;
    font-size: 20px;
    margin: 7px;
    border-radius: 50px;

}
.container-newserie{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* @media screen and (min-width: 100px) and (max-width: 480px) {
    body,*{
        width: 100vw;
        align-items: center;
    }
    .collection-name-class{
        
        align-items: center;
    }
    .serie-li{
        width: 100vw;
        align-items: center;
   

    }
} */

/* @media screen and (min-width: 481px) and (max-width: 768px) {
    body,*{
        width: 100vw;
        align-items: center;
    }
    .collection-name-class{
        
        align-items: center;
    }
    .serie-img{
        width: 100px;vw;
    }
    .serie-li{
        width: 100vw;
        align-items: center;


    }
} */
/* @media screen and (min-width: 769px) and (max-width: 1024px) {
    body,*{
        width: 100vw;
        align-items: center;
    }
} */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops  */